@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.card {
  height: 350px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.navbar-link {
  cursor: pointer;
  font-size: 16px;
}

.navbar-link:hover {
  color: rgb(23, 103, 207) ;
}

.auth-container {
  width: 70%;
}
